body {
  background-color: white;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 10px;
  margin-right: 10px;
}

h1 {
  color: #342B09;
  margin: 7px;
  text-align: center;
  font-family:"Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 900;
  padding-top: 2em;
  padding-bottom: 2em;
  text-decoration: underline,overline;
}

h2 {
  font-family:"Times New Roman", Times, serif;
  font-style: italic;
  color: #B08A03;
  font-weight: 900;
  text-align: center;
}

h3 {
  font-family:"Times New Roman", Times, serif;
  color:  #342B09;
}

h5 {
  text-decoration: underline;
}
p{
  padding-left: 3em;
  padding-right: 3em;
  text-align: JUSTIFY;
} 

div {
  margin: 5px;
}

hr{
  border: 3px solid #342B09;
  padding-left: 2em;
  padding-right: 2em;
}

.serif {
  font-family: "Times New Roman", Times, serif;
}

.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}

.monospace {
  font-family: "Lucida Console", Courier, monospace;
}

.line{
  border: 1.5px solid #B08A03;
  padding-left: 4em;
  padding-right: 4em;
}

.design{
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bold;
  color:#B08A03; 
  font-size: large;
}
  
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}